## Titanic Disaster

###  1. Problem definition
        Use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.
        We're going to use classification model. We have two posibilities Survival (1) and not (0).
    

###  2. Data
        We have train and test data. Into train data we're going to make validation data (0.2) to check our results before we compare our prediction with test data. 
        
###  3. Evaluation
    Our score is the percentage of passengers you correctly predict. This is known as accuracy.
    survival	Survival	0 = No, 1 = Yes - target
    We're going to submit csv file with exactly 418 entries plus a header row. 
    The file should have exactly 2 columns:

    PassengerId (sorted in any order)
    Survived (contains your binary predictions: 1 for survived, 0 for deceased)

### 4. Features
    
    ** pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
    ** sex	Sex	
    ** Age	Age in years	
    ** sibsp	# of siblings / spouses aboard the Titanic	
    ** parch	# of parents / children aboard the Titanic	
    ** ticket	Ticket number	
    ** fare	Passenger fare	
    ** cabin	Cabin number	
    ** embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton
    
    Explanation of features:
    pclass: A proxy for socio-economic status (SES)
    1st = Upper
    2nd = Middle
    3rd = Lower

    age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

    sibsp: The dataset defines family relations in this way...
    Sibling = brother, sister, stepbrother, stepsister
    Spouse = husband, wife (mistresses and fianc√©s were ignored)

    parch: The dataset defines family relations in this way...
    Parent = mother, father
    Child = daughter, son, stepdaughter, stepson
    Some children travelled only with a nanny, therefore parch=0 for them.

### 5. Modeling
    We're going to use classification model, idk yet which one, but I will check.

### 6. Experimenting
    We have to get the best accuracy then we will work on that

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data_csv = pd.read_csv("train.csv")

In [6]:
data_csv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
data_csv['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [20]:
data_csv['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64